@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
// ;
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$Blue: hsl(248, 32%, 49%);
$DarkBlue: hsl(249, 10%, 26%);
$GrayishBlue: hsl(246, 25%, 77%);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  color: white;
  height: 100vh;
  background: url(images/bg-intro-mobile.png) $Red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  margin: 0 1rem 0 1rem;
  text-align: center;
  h2 {
    background-color: $Blue;
    padding: 2rem 6rem 2rem 6rem;
    border-radius: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: 0px 5px 6px 0px;

    b {
      font-weight: 600;
    }
  }

  .form {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      label {
        color: $DarkBlue;
      }
      input {
        padding: 1rem;
        margin: 0.1rem;
        border: 0.1rem solid $GrayishBlue;
      }
      button {
        background-color: $Green;
        color: white;
        padding: 1.5rem 3rem 1.5rem 3rem;
        margin: 1rem 0 1rem 0;
        border-radius: 0.5rem;
        border: 1px solid;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
  footer {
    color: $GrayishBlue;
    font-size: 1.2rem;
    span {
      color: $Red;
    }
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    .header {
      flex-basis: 50%;
    }
    .form-h2 {
      flex-basis: 50%;
    }
    h1 {
      font-weight: 600;
      font-size: 5rem;
    }
    p {
      padding: 0 2rem 0 2rem;
    }
  }
  .form {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
